.flows.json.backup
[
    {
        "id": "243b31cf.53e72e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b9895bed.023a88",
        "type": "inject",
        "z": "243b31cf.53e72e",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "664e17fb1ec29e11"
            ]
        ]
    },
    {
        "id": "664e17fb1ec29e11",
        "type": "change",
        "z": "243b31cf.53e72e",
        "name": "set auth header for health API",
        "rules": [
            {
                "t": "set",
                "p": "headers['Teck-Health-Auth']",
                "pt": "msg",
                "to": "a456d073-bd3b-4e1d-b5bb-52fbe82816c2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "98bbe83b7bec81ab"
            ]
        ]
    },
    {
        "id": "98bbe83b7bec81ab",
        "type": "http request",
        "z": "243b31cf.53e72e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.galileo.teck.com/platform/message-service/health",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 100,
        "wires": [
            [
                "41079240bc14c7fc"
            ]
        ]
    },
    {
        "id": "41079240bc14c7fc",
        "type": "function",
        "z": "243b31cf.53e72e",
        "name": "Get Message Service Status",
        "func": "flow.set(\"status\", msg.payload.serviceStatus);\nnode.log(\"status=\"+msg.payload.serviceStatus);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 120,
        "wires": [
            [
                "2d4f76ad12ca974e"
            ]
        ]
    },
    {
        "id": "2d4f76ad12ca974e",
        "type": "switch",
        "z": "243b31cf.53e72e",
        "name": "if healthy",
        "property": "status",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "FAILED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 300,
        "wires": [
            [
                "a2ef5d7c66834bdd"
            ],
            [
                "456b32d9199096e0"
            ]
        ]
    },
    {
        "id": "a2ef5d7c66834bdd",
        "type": "function",
        "z": "243b31cf.53e72e",
        "name": "set email auth header and payload",
        "func": "msg.headers = {\n    \"Authorization\" : \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IjJaUXBKM1VwYmpBWVhZR2FYRUpsOGxWMFRPSSJ9.eyJhdWQiOiI5MDdhMTVkYy01MTM2LTQ4ZjgtOGE4Yi0zYjdjOWFjNTZkMzYiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vY2U2ZWMwMDAtMWNmYS00OWMyLWEyNGYtN2RiNjNjOGE5YTUyL3YyLjAiLCJpYXQiOjE2NjE4NjM1NzEsIm5iZiI6MTY2MTg2MzU3MSwiZXhwIjoxNjYxODY3NDcxLCJhaW8iOiJFMlpnWU5DLzkyVFhJZmRBSGFYUGNSZGY5MXlaQkFBPSIsImF6cCI6ImZhMDhlOTU1LWYxZjEtNDdkNi05MzFmLTJkMWQ4NGVhZTY3NiIsImF6cGFjciI6IjEiLCJvaWQiOiIyOTY4YThjYi02YTkyLTRlYjEtYjgyMS0xMjA2Nzk2MWMyZjIiLCJyaCI6IjAuQVFNQUFNQnV6dm9jd2ttaVQzMjJQSXFhVXR3VmVwQTJVZmhJaW9zN2ZKckZiVFlEQUFBLiIsInN1YiI6IjI5NjhhOGNiLTZhOTItNGViMS1iODIxLTEyMDY3OTYxYzJmMiIsInRpZCI6ImNlNmVjMDAwLTFjZmEtNDljMi1hMjRmLTdkYjYzYzhhOWE1MiIsInV0aSI6Imo4WFJpUEVNLVU2ZHdoU0dEaU1xQUEiLCJ2ZXIiOiIyLjAifQ.HlVY69sktaVeajD8K0v07w1gw-1SXwp6ZhSe0fXm8kaPGfNvAuSqqmxX68-x2ihtkkj_o_p8vwRjF7zE7aOO9PUFM6PywQURdUSHATcoT3h1ltSV1qduh8u9TAOodMeJ0PgNO5RgoMscLuRe4osaAxYRIz44ib0jVvv6dzwr9lp25XaJZyW7xVzgVfpG23YcvgJWK-d6Cegdl_2UW56haI-WVYLdb2-LNlxDow1Wt7txk9_t7XZV3wg-hqMw-vU5h4bsW2ccxPY2T2XwbTNU7WEDp1hkju8WKTXLTu_LkPr4yMRMJP1rfK-MICJk1IzHwl68TmBj_W4TYI7G05bjVQ\"\n}\nmsg.payload = {\n    \"recipients\": \"nidhi.sinha@teck.com\",\n    \"subject\": \"Subject of email\",\n    \"content\": \"Content of email\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 260,
        "wires": [
            [
                "ad0bb1529657116b"
            ]
        ]
    },
    {
        "id": "456b32d9199096e0",
        "type": "debug",
        "z": "243b31cf.53e72e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "ad0bb1529657116b",
        "type": "http request",
        "z": "243b31cf.53e72e",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.galileo.teck.com/platform/message-service/api/v1/emails",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1050,
        "y": 260,
        "wires": [
            [
                "14e12a97e3ace6f5"
            ]
        ]
    },
    {
        "id": "14e12a97e3ace6f5",
        "type": "debug",
        "z": "243b31cf.53e72e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 260,
        "wires": []
    },
    {
        "id": "a06b9686b3fc2204",
        "type": "inject",
        "z": "243b31cf.53e72e",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "598da6c1501550f0"
            ]
        ]
    },
    {
        "id": "598da6c1501550f0",
        "type": "change",
        "z": "243b31cf.53e72e",
        "name": "set auth header for health API",
        "rules": [
            {
                "t": "set",
                "p": "headers['Teck-Health-Auth']",
                "pt": "msg",
                "to": "a456d073-bd3b-4e1d-b5bb-52fbe82816c2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "8f56cbbe92997e3b"
            ]
        ]
    },
    {
        "id": "8f56cbbe92997e3b",
        "type": "http request",
        "z": "243b31cf.53e72e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.galileo.teck.com/platform/message-service/health",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 600,
        "wires": [
            [
                "4af8035909f129d1"
            ]
        ]
    },
    {
        "id": "4af8035909f129d1",
        "type": "debug",
        "z": "243b31cf.53e72e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 620,
        "wires": []
    }
]