.flows.json.backup
[
    {
        "id": "243b31cf.53e72e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b9895bed.023a88",
        "type": "inject",
        "z": "243b31cf.53e72e",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "664e17fb1ec29e11"
            ]
        ]
    },
    {
        "id": "664e17fb1ec29e11",
        "type": "change",
        "z": "243b31cf.53e72e",
        "name": "set auth header for health API",
        "rules": [
            {
                "t": "set",
                "p": "headers['Teck-Health-Auth']",
                "pt": "msg",
                "to": "a456d073-bd3b-4e1d-b5bb-52fbe82816c2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "98bbe83b7bec81ab"
            ]
        ]
    },
    {
        "id": "98bbe83b7bec81ab",
        "type": "http request",
        "z": "243b31cf.53e72e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.galileo.teck.com/platform/message-service/health",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 100,
        "wires": [
            [
                "4c4f75f0fb0a221d"
            ]
        ]
    },
    {
        "id": "41079240bc14c7fc",
        "type": "function",
        "z": "243b31cf.53e72e",
        "name": "Get Message Service Status",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2d4f76ad12ca974e",
        "type": "switch",
        "z": "243b31cf.53e72e",
        "name": "if healthy",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a2ef5d7c66834bdd",
        "type": "function",
        "z": "243b31cf.53e72e",
        "name": "set email auth header and payload",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "456b32d9199096e0",
        "type": "debug",
        "z": "243b31cf.53e72e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "ad0bb1529657116b",
        "type": "http request",
        "z": "243b31cf.53e72e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1050,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "14e12a97e3ace6f5",
        "type": "debug",
        "z": "243b31cf.53e72e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 260,
        "wires": []
    },
    {
        "id": "4c4f75f0fb0a221d",
        "type": "debug",
        "z": "243b31cf.53e72e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "e62681d635acb6b4",
        "type": "inject",
        "z": "243b31cf.53e72e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 660,
        "wires": [
            [
                "7384d405a30999ed"
            ]
        ]
    },
    {
        "id": "7384d405a30999ed",
        "type": "debug",
        "z": "243b31cf.53e72e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 660,
        "wires": []
    }
]